.side-drawer{
  height: 100%;
  background: #F3DFd1;
  box-shadow: 2px 0px 5px rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 4;
  transform: translateX(-100%);
  transition: transform 0.45s ease-out;
}
.side-drawer.open {
  transform: translateX(0);
}
.drawer-bar{
  height: 75%;
  max-width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: stretch;
}
.drawer-profilePicHead{
  max-width: 60%;
  max-height: 90%;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 4px; 
}
.drawer-user{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: stretch;
  width: 100%;
  height: 85px;
  background-color: #667987;
  color: white
}
.drawer-user p{
  margin-right:7px;
}
.drawer-navButtons{
  font-size: 20px;
  background:none;
  border:none;
}
a{
  max-width:50%;
}