.item{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-around;
	align-items: baseline;
  align-content: space-around;
  margin:10px;
  
}
.left-dash{
max-width: 50%;
}
.right-dash{
  max-width: 50%;
}
.right-dash p{
  font-size:20px;
}
.profile{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  margin-bottom: 3px;
}
.profilePic{
  min-height: 30px;
  min-width: 40px;
  border-radius: 48%;
  border: solid 4px;
  border-color:grey;
}
.username{
  margin: 30px;
  font-size: 20px;
}
.itemImg{
  min-width: 60%;
  min-height: 60%;
  max-width: 90%;
  max-height: 90%;
  border: solid 5px;
  border-color:#32353A;
}
.buttons{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: space-around;
  
}
.dashBut{
  background-color:#F3DFC1;
  /* height: 4vh;
  width: 8vw; */
}
.adminButt{
  color: red;
}