footer{
  background-color: #246A73;
  height: 9vh;
  width:100vw;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
  align-items: center;
  align-content: center;
  position: absolute;

}
.title{
   display:flex;
   flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
}
img{
   max-width: 35px;
   max-height: 35px;
}