header {
  background-color: #667987;
  /* #246a73 */
  height: 95px;
  width: 101%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 100%;
}
.logo {
  max-width: 4vw;
  max-height: 4vh;
}
.user{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
  color: white;
}
.profilePicHead {
  border-radius: 50%;
  max-width: 4vw;
  max-height: 100%;
  margin-right: 10px;
}
.bar{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  align-content: center;
  width: 30%;
}
.navButtons{
  background-color:#99A6A9;
  font-size: 20px;
  height: 50%;
  margin: 8px;
}

@media(max-width:425px){
  .bar{
    display:none;
  }
  .user{
    display: none
  }
  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: white;
    font-size: 80%;
  }
  .logo{
    max-width: 7vw;
    max-height: 7vh;
  }
  .title h1{
    margin-right: 15px;
    }
  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__line {
    width: 30px;
    height: 2px;
    background: white;
  }
}
