header {
  background-color: #246a73;
  height: 95px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
}
img {
  max-width: 4vw;
  max-height: 4vh;
}
.user{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
  color: white;
}
.profilepic {
  border-radius: 50%;
  max-width: 5vw;
  max-height: 5vh;
  padding-right: 10px;
}
