.name{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.name button{
  background-color:#F3DFC1;
  font-size: 3vh;
  height: 5vh;
  /* width: 80px; */
  margin: 8px;
  padding: 8px, 8px, 8px, 8px;
}