h1{
  align-self: center;
}
.newHammer{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
  align-content: flex-start;
  font-size:18px;
  height:70vh;
}
.left-new{
width: 50%;
margin:8px;
height: 85%;
}
.left-new img{
  min-width: 75%;
max-width: 90%;
max-height: 90%;
border: solid 5px #667987;
}
.right-new{
width: 50%;
height: 100%;
margin: 8px;
}
.right-new textarea{
  resize: none;
  width:95%;
  height: 30%;
  font-size: 18px;
}
.new-buttons{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  justify-content: space-around;
	align-items: center;
  align-content: center;
  width: 100%;
}
.new-buttons button{
  background-color:#F3DFC1;
  font-size: 20px;
  height: 50px;
  margin: 8px;
}
@media (max-width: 425px){
  .newHammerBody{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .newHammer{
    display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: space-around;
  align-items: center;
  height: 100%;
  }
  .left-new{
    height: 50%;
  }
  .right-new{
    height: 50%;
  }
  .right-new button{
    width: 80%;
    height:70%;
  }
  .right-new textarea{
    resize: none;
    width:100%;
    height: 70%;
    font-size: 18px;
  }
}