.name{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.name button{
  background-color:#F3DFC1;
  font-size: 3vh;
  height: 100%;
  margin: 8px;
  padding: 8px, 8px, 8px, 8px;
}
@media(max-width:425px){
  .name button{
  font-size: 23px;
  }
}
@media(max-width: 1200px){
  .name button{
    font-size: 25px;
    }
}