body{
  background:
  /* #AC867D; */
  #DDBEA8
}
Header{
  position: sticky;
  z-index: 1;
  top:0px;
}

footer{
  position: bottom fixed;
  max-height:9vh;
  /* right: 0rem;
  left:0rem;
  bottom:0rem; */
}