body {
  background:
  /* #AC867D; */ #ddbea8;
  
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  position: sticky;
  z-index: 1;
  top: 0px;
}

footer {
  position: absolute;
  max-height: 9vh;
  right: 0rem;
  left: 0rem;
  bottom: 0px;
  overflow: hidden;
}
